* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.section {
	min-hieght: 100vh;
	text-align: center;
	width: 1920px;
	height: 1006px;
	display: table-cell;
	vertical-align: middle;
	position: absolute;
}

.wrap-block {
	display: table-cell;
	vertican-align: center;
	color: #fff;
	
}